print("kattar Mumbai Indians Smarthak")

In [4]:
colg = "nbn Sinhgad"

print(colg)
type(colg)

nbn Sinhgad

str

STRING OPERATIONS

In [15]:
print(colg[::-1])
print(colg[3:7])
print(colg[3:7:2])

daghniS nbn
 Sin
 i

LIST OPERATION

In [32]:
Weekly_Temp = [25 ,45 , 89, 36, 12, 42, 18 ]

#removing the element
Weekly_Temp.remove(42)

#adding at end
Weekly_Temp.append(33)

#inserting at any location
Weekly_Temp.insert(1, 17)

print(f"Weekly Temperature: {Weekly_Temp}")

Weekly Temperature: [25, 17, 45, 89, 36, 12, 18, 33]

[25, 45, 89, 36, 12, 42]

DICTIONARY OPERATIONS

In [46]:
user = {
    "name" : "Rohit",
    "email" : "abc@gmail.com",
    "phone" : 9767272177,
    "age" : 21,
    "salary" : 2356.12
}

#adding elements
user["city"] = "Pune"

#deleting elements
del user["age"]

print(f"User Deatils: {user}")

#returning keys from dictionary
user.keys()

#returning values from dictionary
user.values()

# NOTE:- from keys() and values() it will return only  response with 1 values because it override with the two functions

User Deatils: {'name': 'Rohit', 'email': 'abc@gmail.com', 'phone': 9767272177, 'salary': 2356.12, 'city': 'Pune'}

dict_values(['Rohit', 'abc@gmail.com', 9767272177, 2356.12, 'Pune'])

OPERATORS

In [47]:
print(3 % 2)
print(7 // 2)

1
3

COMPARISON OPERATORS

In [55]:
print(3 > 2)
print("a" == "b")

True
False

ASSIGNMENT OPERATORS

In [54]:
x = 5

x += 5
print(x)

x //= 2

x

10

5