In [1]:
import pandas as pd
import numpy as np

data = {
    "Energy Source": ["Solar", "Wind", "Hydropower", "Geothermal", "Biomass", "Nuclear"],
    "Energy Consumption (MWh)": [1200, np.nan, 2900, np.nan, 2500, 3200],
    "Cost (Million $)": [200, 400, np.nan, 150, 250, np.nan]
}

frame = pd.DataFrame(data)
frame

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
1          Wind                       NaN             400.0
2    Hydropower                    2900.0               NaN
3    Geothermal                       NaN             150.0
4       Biomass                    2500.0             250.0
5       Nuclear                    3200.0               NaN

In [5]:
frame.isnull()

   Energy Source  Energy Consumption (MWh)  Cost (Million $)
0          False                     False             False
1          False                      True             False
2          False                     False              True
3          False                      True             False
4          False                     False             False
5          False                     False              True

In [7]:
# removing the rows with the null values
r = frame.dropna(axis = 0) # axis = 0 means deleting the row if axis = 1 the it will delete the complete column containing the null values
r.head()

  Energy Source  Energy Consumption (MWh)  Cost (Million $)
0         Solar                    1200.0             200.0
4       Biomass                    2500.0             250.0

In [3]:
ec_m = frame["Energy Consumption (MWh)"].mean()
c_m = frame["Cost (Million $)"].mean()

print(ec_m)
print(c_m)

2450.0
250.0

In [ ]:
frame["Energy Consumption (MWh)"].fillna(ec_m , inplace = True)
frame["Cost (Million $)"].fillna(c_m , inplace = True)