In [26]:
import pandas as pd

renewable_sources = ["Solar", "Wind", "Hydropower",  "Geothermal", "Biomass"]

# creating series
renewable_series = pd.Series(renewable_sources)
# print("Renewable Energy Sources:")
print(renewable_series)

# creatind data frame
data = {
    "Project": ["Solar Farm A", "Wind Turbine X", "Hydropower Y", "Solar Roof Z", "Geothermal Plant P"],
    "Technology": ["Solar", "Wind", "Hydropower", "Solar", "Geothermal"],
    "Capacity (MW)": [150, 300, 200, 50, 100],  # Megawatts
    "Cost (Million $)": [200, 400, 350, 100, 250],  # Project cost
    "Location": ["California", "Texas", "Washington", "Nevada", "Idaho"],
    "Completion Year": [2023, 2024, 2022, 2025, 2023]
}

frame = pd.DataFrame(data)
print(frame)


# top 3
print("The Top 3 data are:")
print(frame.head(3))

# last 3
print("The last 3 data are:")
print(frame.tail(3))

# slicing
frame[3:5]

# giving the datatypes of columns
print("The data types are : " , frame.dtypes)

# return the shape of tables/dataframe
print("The size of data frame is :" , frame.shape)

0         Solar
1          Wind
2    Hydropower
3    Geothermal
4       Biomass
dtype: object
              Project  Technology  Capacity (MW)  Cost (Million $)  \
0        Solar Farm A       Solar            150               200
1      Wind Turbine X        Wind            300               400
2        Hydropower Y  Hydropower            200               350
3        Solar Roof Z       Solar             50               100
4  Geothermal Plant P  Geothermal            100               250

     Location  Completion Year
0  California             2023
1       Texas             2024
2  Washington             2022
3      Nevada             2025
4       Idaho             2023
The Top 3 data are:
          Project  Technology  Capacity (MW)  Cost (Million $)    Location  \
0    Solar Farm A       Solar            150               200  California
1  Wind Turbine X        Wind            300               400       Texas
2    Hydropower Y  Hydropower            200               350  Washington

   Completion Year
0             2023
1             2024
2             2022
The last 3 data are:
              Project  Technology  Capacity (MW)  Cost (Million $)  \
2        Hydropower Y  Hydropower            200               350
3        Solar Roof Z       Solar             50               100
4  Geothermal Plant P  Geothermal            100               250

     Location  Completion Year
2  Washington             2022
3      Nevada             2025
4       Idaho             2023
The data types are :  Project             object
Technology          object
Capacity (MW)        int64
Cost (Million $)     int64
Location            object
Completion Year      int64
dtype: object
The size of data frame is : (5, 6)

In [32]:
frame.size

30

In [30]:
frame.columns

Index(['Project', 'Technology', 'Capacity (MW)', 'Cost (Million $)',
       'Location', 'Completion Year'],
      dtype='object')

In [31]:
frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Project           5 non-null      object
 1   Technology        5 non-null      object
 2   Capacity (MW)     5 non-null      int64
 3   Cost (Million $)  5 non-null      int64
 4   Location          5 non-null      object
 5   Completion Year   5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [34]:
frame.describe()

       Capacity (MW)  Cost (Million $)  Completion Year
count        5.00000          5.000000         5.000000
mean       160.00000        260.000000      2023.400000
std         96.17692        119.373364         1.140175
min         50.00000        100.000000      2022.000000
25%        100.00000        200.000000      2023.000000
50%        150.00000        250.000000      2023.000000
75%        200.00000        350.000000      2024.000000
max        300.00000        400.000000      2025.000000

In [38]:
# checking the null values in dataset
frame.isnull()

frame.isnull().sum()

Project             0
Technology          0
Capacity (MW)       0
Cost (Million $)    0
Location            0
Completion Year     0
dtype: int64

In [42]:

frame[["Project" , "Capacity (MW)"]]

              Project  Capacity (MW)
0        Solar Farm A            150
1      Wind Turbine X            300
2        Hydropower Y            200
3        Solar Roof Z             50
4  Geothermal Plant P            100

In [52]:
# returnt the values from particular location
frame.iloc[:3 , [1,3]]

   Technology  Cost (Million $)
0       Solar               200
1        Wind               400
2  Hydropower               350

In [51]:
# using filters 
highest_values = frame[frame["Capacity (MW)"] > 100]
print(highest_values)

          Project  Technology  Capacity (MW)  Cost (Million $)    Location  \
0    Solar Farm A       Solar            150               200  California
1  Wind Turbine X        Wind            300               400       Texas
2    Hydropower Y  Hydropower            200               350  Washington

   Completion Year
0             2023
1             2024
2             2022

In [56]:
# Adding new features (column) / Feature enginnering
frame["Cost per MW"] = frame["Cost (Million $)"] / frame["Capacity (MW)"]
frame.head()

,Project,Technology,Capacity (MW),Cost (Million $),Location,Completion Year,Cost per MW
0,Solar Farm A,Solar,150,200,California,2023,1.333333
1,Wind Turbine X,Wind,300,400,Texas,2024,1.333333
2,Hydropower Y,Hydropower,200,350,Washington,2022,1.750000
3,Solar Roof Z,Solar,50,100,Nevada,2025,2.000000
4,Geothermal Plant P,Geothermal,100,250,Idaho,2023,2.500000

In [57]:
# grouping
grouped_data = frame.groupby("Technology")["Capacity (MW)"].sum()
print(grouped_data)

Technology
Geothermal    100
Hydropower    200
Solar         200
Wind          300
Name: Capacity (MW), dtype: int64